body {
    position: relative;
    overflow: none;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

#webgl {
    width: 100%;
    height: 100vh;  
    cursor: grab;
}

#text2dCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;  
    z-index: 1;
    pointer-events: none;
}